@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo</h1>
    <p>Aprenda sobre <a href="https://docs.microsoft.com/aspnet/core">construir web apps ASP.NET Core</a>.</p>
</div>

<ul class="list-group">
    <li class="list-group-item">Pagina Inicial</li>
    <li class="list-group-item">Aula de Program C#</li>
    <li class="list-group-item">Algo Aleatorio</li>
    <li class="list-group-item">Mordekaiser melhor boneco</li>
    <li class="list-group-item">Talvez Melhor Prof</li>
</ul>

<div class="card">
    <div class="card-header">
        Titulo do meu card
    </div>
    <div class="card-body">
        <h5 class="card-title">Titulo especial de algo especial</h5>
        <p class="card-text">Jogador de LOL</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>
