<h1>Minha Tela</h1>

<p>essa é a action referente ao 
    HomeController action MinhaTela</p>
<img src="https://www.lolvvv.com/_next/image?url=https%3A%2F%2Fddragon.leagueoflegends.com%2Fcdn%2Fimg%2Fchampion%2Fsplash%2FMordekaiser_0.jpg&w=1200&q=75" width="600" height="600"/>
<img src="~/MordecaC.jpg" width="600" height="600" />

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Idade</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Ryan</td>
            <td>18</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Gabriele</td>
            <td>18</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Jhonatan</td>
            <td>18</td>
        </tr>
    </tbody>

</table>